<form nz-form nzLayout="vertical" [formGroup]="productForm" class="product-form" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-label>Titre du produit</nz-form-label>
    <nz-form-control nzErrorTip="Please input your title">
      <input type="text" nz-input formControlName="title" placeholder="Titre" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Description</nz-form-label>
    <nz-form-control nzErrorTip="Please input your password">
      <textarea nz-input placeholder="Description" formControlName="description" [nzAutosize]="{ minRows: 2, maxRows: 3 }"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Prix</nz-form-label>
    <nz-form-control nzErrorTip="Please input your password">
      <input type="number" nz-input formControlName="price" placeholder="Prix" />
    </nz-form-control>
  </nz-form-item>
</form>
