<nz-card class="form-wrapper translate-middle position-absolute top-50 start-50" [nzTitle]="cardTitleTemplate">
  <ng-template #cardTitleTemplate>
    <h3 class="text-center">Connexion</h3>
  </ng-template>

  <form nz-form nzLayout="vertical" [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
    <nz-form-item>
      <nz-form-label>Identifiant</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Please input your password">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
            placeholder="Password" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span class="pointer" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button class="w-100" nzType="primary">Se connnecter</button>
    </nz-form-item>
    Ou
    <a [routerLink]="['/auth/register']">Créer un compte</a>
  </form>
</nz-card>
